<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.liang.setting.dao.mapper.ext.ExtRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.liang.setting.dao.dataObject.Role">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, type, create_time, update_time
    </sql>
    <select id="selectById" parameterType="java.util.List" resultType="com.example.liang.setting.dao.dataObject.Role">
        select
        <include refid="Base_Column_List" />
        from role
        where id in
        <foreach item="roleId" index="index" collection="list" open="(" separator="," close=")">
        #{roleId}
        </foreach>

    </select>

</mapper>
